# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.npm-cache/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
supabase/.env.production
supabase/.env.production.example
supabase/.env.local
supabase/.env.local.example
Flutter/apps/farmernote_app/dart_defines.local.json
supabase/.temp/
supabase/.branches/

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

# WeChat DevTools private local settings
miniprogram/project.private.config.json
supabase/.env.local.example
supabase/.env.production.example
